.title{
    font-family: monospace;
    font-size: 60px;
    margin-left: 10%;
    margin-bottom: 2%;
    text-align: left;
}

.brovser{
    list-style-type: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;  
    float: center;
    border: 2px solid black;
    background: lightgoldenrodyellow;
    width: fit-content;
    height: fit-content;
    padding: 15px;
    border-radius: 7px;
    margin: 20px;
    text-align: center;

}

.linki{
    background-color:antiquewhite;
    width: fit-content;
    height: fit-content;
    border-radius: 15%;
    padding: 5px;
    text-align: right;
}

.linki:link{
    color: darkslategray;
    text-decoration: none;
}

.linki:visited{
    color: darkslategray;
    text-decoration: none;
}

.linki:hover{
    color: palevioletred;
    text-decoration: none;
    background:lightpink;
}

.par-1{
    float: center;
    font-family: monospace;
    font-size: 30px;
}

.bgcolor-1{
    background-color:lightcoral;
}
.bgcolor-2{
    background-color:lightpink;
}
.bgcolor-3{
    background-color:lightsalmon;
}